#transformers
pandas
#numpy
#pydantic
fastapi
#nltk
uvicorn
#spacy
requests
#google-api-python-client-stubs
#sentence-transformers
#torch
python-dotenv
gunicorn
#huggingface-hub
#twilio
loguru 
httpx
python-telegram-bot